{
  "token": "ODg2NjI0MDk0MTE0NzA5NTQ0.YT4TCA.pOuJV9ssi7u0Xasi-SjjX3Cst20",
  "prefix": ".",
  "owner_id": "852737378967486464",
  "presence_type": "PLAYING",
  "channel_id": "853837656383029258",
  "shuffle": true,
  "pause_on_empty": true,
  "owner_reporting": false,
  "soundcloud_client_id": "",
  "youtube_cookie": "",
  "playing_status": "{status_icon} {song_name}",
  "intermission_interval": null
}
